

.body-content{
    display: flex;
  }
  
  .bigtext { /* styling the online cinema text */
      font-weight: normal;
      font-size: 50px;
      color: white;
      padding-top: 95px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  
    .paragraph {
      font-size: 18px;
      width: 70%;
      color: grey;
      line-height: 1.5;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  
    .button-container {
      display: flex;
      margin-top: 50px;
     
    }
    
    .button {
      background-color: #13c6b1;
      color: #fff;
      border-radius: 50px;
      padding: 15px 50px;
      text-decoration: none;
      font-size: 22px;
      transition: background-color 0.2s ease;
    }
    
    .button:hover {
      background-color: #0f9c91;
    }
  
  
   
    .animation{
      transform: translateY(10%);
      
    }
    *{
        margin: 0;
        padding:0;
        box-sizing: border-box;
        font-family: "Nunito";
    }
    
    .hero{
        width:100%;
        height:100vh;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 0 5%; 
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    body{
      background-color: #0e121a;
    }
    
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 5%;
      width: 100%;
      height: 6%;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 2px solid #222530;
    }
    
    #nav-content {
      display: flex;
      align-items: center;
    }
    
    .name {
      margin-left: 10px;
    }
    
    .title {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    
    
    nav ul li {
        list-style: none;
        display: inline-block;
        margin-left: 40px;
    }
    
    
    
    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 17px;
    }
    
    nav ul li a:hover {
        color: #13c6b1;
    }
    
    
    
    .checked {
        color: orange;
      }
    
      .container {
        display: flex;
        align-items: center;
        color: #727679;
      }
      .container > * + * {
        margin-left: 20px; /* adjust the value to increase or decrease the space between elements */
      }
      
      
      .box {
        margin-top: 20px;
        width: auto;
        height: 10px;
        font-size: 20px;
      }
    
      
       #movie-name {
        background: linear-gradient(
          rgba(220,224,227,255) 10%,
          rgba(164,175,185,255) 70%
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-size: 5em;
        text-align:left;
        padding-bottom: 20px;
        
       }
    
       .bg-video {
        position: absolute;
        right:0;
        bottom: 0;
        
       }
       .content {
        z-index: 1;
        padding: 20px 5%;
        width: 100%;
        height: 6%;
        position: absolute;
        top: 20vh;
        left: 0;
       }
    
       .swiper.mySwiper {
        bottom: 0;
        position: absolute;
      }
      
      .swiper-slide {
        margin-top: 6.77%;
        white-space: nowrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 13% !important;
        height: 70% !important;
        background: #fff;
        transition: 0.3s ease !important;
        z-index: 2 !important;
      }
      
      .swiper-slide:hover {
        transform: scale(1.1) !important;
        z-index: 5 !important;
      }
      
      .swiper {
        width: 100%;
        height: 50%;
        margin: 20px auto;
      }
    
     
    
      .stars {
        margin-top: -30px;
        font-size: 24px;
      }
      
      nav button {
        background-color: #13c6b1;
          color: #fff;
          padding: 8px 15px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;
      }
      
      nav button:hover {
          background-color: #0e9a87;
        }
        
        .avatar {
          
          width: 40px;
          height: 40px;
          border-radius: 50%;
          cursor: pointer;
        }
        
        .avatar-dropdown {
          position: relative;
          display: flex;
          margin-left: 10px;
        }
        
        .dropdown-menu {
          display: none;
          position: absolute;
          z-index: 5;
          top: 100%; 
          right: 0 ;
          background-color: rgba(14,18,26,255);
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          padding: 12px 16px;
          border-radius: 6px;
          animation: dropdown-animation 0.5s;
        }
        
        .dropdown-menu a {
          display: block;
          color: white;
          padding: 8px 0;
          text-decoration: none;
        }
        
        
        .dropdown-menu.show {
          display: block;
        }
      
        .logout-icon {
          width: 20px;
          height: 20px;
          display: inline-block;
          vertical-align: middle;
        }
      
        .icon {
          width: 20px;
          height: 20px;
          display: inline-block;
          vertical-align: middle;
        }
      
        
        .dropdown-item a {
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px; 
        }
      
        .user-name {
          margin-left:8px;
          margin-top: 10px;
        }
      
       
      
        .down-arrow {
          width: 17px;
          height: 17px;
          display: inline-block;
          vertical-align: middle;
          margin-left: -30px;
          cursor: pointer;
          margin-left: 4px;
         margin-top: 11px;
        }
      
        .line_break {
          height: 0.2px;
          background-color: grey;
          border: none;
        }
      
        .title {
          position: right;
          pointer-events: none;
          cursor: default;
          text-decoration: none;
          color: #13c6b1;
          font-weight: bold;
          font-size: 2em;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          letter-spacing: 1px;
        }
        
        .back-video {
           
          position: absolute;
         
          bottom: -1;
          min-width: 100%;
          min-height: 100%;
          filter: brightness(40%);
        }
    
       
        
        .animate-background {
          animation-name: fade-in;
          animation-duration: 1s;
        }
    
        ::-webkit-scrollbar {
          width: 10px;
        }
        
        /* Style the thumb */
        ::-webkit-scrollbar-thumb {
          background-color: #13C6B1;
          border-radius: 5px;
        }
        
        /* Style the track */
        ::-webkit-scrollbar-track {
          background-color: #06080d;
        }

  

          .movies { 
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
          }

          .show_card {
            cursor: pointer;
            background-image: url(../assets/wednesday.jpg) ;
            background-repeat: no-repeat;
            background-size: contain;
            width: 280px;
            height: 180px;
          }

          
          
          .movies img {
            max-width: 100%;
          }
        
    
        
    
    
        footer {
          padding: 10px 5%;
          color: white;
          border-top: 2px solid #222530;
          display:flex;
          justify-content: space-between;
          align-items: center;
        }
    
        .socials {
          margin-top: 5px;
          display:flex;
          justify-content:space-between
        }
    
        .socials img {
          width:20px;
          height: 20px;
        }
    
        .description {
          width: 30%;
        }
    
        .desc{
          color: #878787;
          margin-top: 5px;
        }
    
        @keyframes fade-in {
          from { opacity: 0; }
          to { opacity: 1; }
        }
    
        
  
    